/*------ Imports ------*/
@import 'styles/variables.scss'; // Variables

/*------ Global Styles ------*/

/*-- Body -- */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*-- Light Background -- */
.section-full-light {
	height: 100vh;
	background: url('images/background.png');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #fff;
}

.section-full-right {
	background-position: right;
}

/*-- Horizontal & Vertical Center -- */
.center-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*-- Logo -- */
.logo-large {
	max-width: 70%;
}

.logo-small {
	max-width: 40%;
}

.logo-smallest {
	max-width: 25%;
}

/*-- Buttons --*/
.primary-button,
.secondary-button {
	font-size: 0.8em;
	border: none;
	min-width: 100px;
	height: 35px;
	border-radius: 6px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.primary-button {
	background: $primary-color;
	color: #fff;
}

.secondary-button {
	background: #fff;
	color: $primary-color;
}

/*-- Links --*/
.link {
	text-decoration: none;
}

/*-- Form --*/
.form {
	input[type='text'],
	input[type='email'],
	input[type='password'] {
		padding-left: 10px;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	select {
		border: none;
		background: rgba(226, 74, 64, 0.8);
		color: #eee;
		margin-bottom: 10px;
		border-radius: 4px;
		height: 35px;
		font-size: 0.9em;
	}

	input::placeholder,
	button {
		color: #eee;
	}

	select {
		padding: 5px;
	}
}
