/*------ Imports ------*/

@import 'styles/variables.scss'; // Variables

/*------ Global Styles ------*/

/*-- Body -- */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*-- Light Background -- */
.section-full-light {
	height: 100vh;
	background: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #fff;
}

/*-- Horizontal & Vertical Center -- */
.center-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*-- Logo -- */
.logo-large {
	max-width: 70%;
}

/*-- Buttons --*/
.primary-button {
	background: $primary-color;
	color: #fff;
	font-size: 0.8em;
	border: none;
	min-width: 100px;
	height: 35px;
	border-radius: 6px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*-- Links --*/
.link {
	text-decoration: none;
}

/*-- Form --*/
.form {
	input[type='text'],
	input[type='email'],
	input[type='password'],
	select {
		border: none;
		background: $primary-color;
		color: #fff;
		margin-bottom: 10px;
		padding-left: 10px;
		border-radius: 4px;
		height: 35px;
	}

	input::placeholder {
		color: #ddd;
	}
}
